.movie-card {
	width: 100%;
}

.movie-card__link {
	display: flex;
	padding: 16px;
	background: #fafafa;
	border-bottom: 1px solid #e8e8e8;
	text-decoration: none;
	color: green;
	transition: 0.2s;
	box-shadow: none;

	&:hover {
		transform: scale(1.05);
		box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);

		.movie-card__poster {
			transform: scale(1.1);
		}
	}
}

.movie-card__poster {
	width: 120px;
	margin-right: 12px;
	transition: 0.3s;

	img {
		width: 100%;
		border-radius: 3px;
	}
}
